* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "DM Sans", sans-serif;
  color: #353535;
}
nav{
  background-color:transparent;
  width:100%;
  padding: 20px 6rem;
  position: fixed;
  z-index:1;
}
.shadow{
  box-shadow:5px 3px 5px rgb(231, 230, 230);
}
.left-side{
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:60%;
}
.left-side img{
  width:200px;
  height:50px;
}
.left-side ul{
   display:flex;
   margin-top:13px;
}
.left-side li{
  list-style-type: none;
  padding:0px 25px;
}
.left-side li a{
  text-decoration:none;
  font-size:1rem;
  font-weight:600;
  color:#515050;
}
.navigation{
  display:flex;
  justify-content: space-between;
}
.right-side .Sign-In-btn{
  background-color: #fff;
  border:1px solid rgb(210, 208, 208);
  padding:17px;
  border-radius:10px;
  width:90px;
  font-size:1rem;
  color:#000;
  font-weight:600;
  margin-right:5px;
}
.right-side .Sign-In-btn a{
  text-decoration:none;
  font-size:1rem;
  font-weight:600;
  color:#000;
}
.right-side .Sign-In-btn:hover{
  color:rgb(16, 16, 251);
  border:1px solid rgb(16, 16, 251);
  transition:all 0.5s ease-in-out;
}
.right-side .Sign-In-btn a:hover{
  color:rgb(16, 16, 251);
  transition:all 0.5s ease-in-out;
}
.right-side .Create-account{
  background-color: rgb(53, 53, 53);
  border-radius:10px;
  width:200px;
  color:#fff;
  font-size:1rem;
  font-weight:600;
  padding:17px;
  border:none;
  margin-right:15px;
}
/* .right-side{
  background-color: rgb(249, 249, 249);
  margin-right:-22px;
  padding:10px 0;
  padding-left:57px;
  text-align: center;
} */
.right-side .Create-account a{
  text-decoration:none;
  font-size:1rem;
  font-weight:600;
  color:white;
}
.right-side .Create-account:hover{
  background-color: rgb(16, 16, 251);
  transition:all 0.8s ease-in-out;
}
.action{
  box-shadow:1px 3px 5px rgb(249,249,249);
  background-color: #fff;
}
.special-bg {
  position: relative;
  background-color: rgb(249, 249, 249);
  height: 820px;
  max-width: 27.5%;
  z-index: 0;
  top: -17%;
  left: 67%;
}
/* =================================================HEADER=============================================================== */
.header-flex-house {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10%;
  padding: 100px 6rem;
  padding-top: 100px;
  width: 100%;
  height: 800px;
  margin: 0px;
}
/* ==========================================The Left side of the flex========================== */
.header-first-flex {
  margin-top: 91px;
}
.header-texts h1 {
  font-size: 4em;
  line-height: 82.5px;
  font-weight: 600;
}
.header-texts p {
  font-size: 17px;
  line-height: 27.2px;
  color: #515050;
  max-width: 510px;
  margin-top: 0.7rem;
}
.header-first-flex .header-Create-account {
  background-color: rgb(53, 53, 53);
  border-radius: 10px;
  width: 200px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 17px;
  border: none;
  margin-top: 1.8rem;
}
.header-first-flex .header-Create-account a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.header-first-flex .header-Create-account:hover {
  background-color: rgb(16, 16, 251);
  transition: all 0.8s ease-in-out;
}

/* ==========================================Download buttons=========================================== */
.header-apps-download {
  display: flex;
  margin-top: 35px;
}
.header-apps-download img{
  width:16%;
  height:35px;
}
.header-apps-download button {
  width: 150px;
  height:60px;
  border-radius: 12px;
  padding: 10px;
  border: none;
  border: 1px solid rgb(210, 208, 208);
  background-color: #fff;
  transform: translateY(10px);
}
.header-apps-download button:hover {
  transform: translateY(0px);
  transition: transform 0.5s ease-in-out;
}
.header-apps-download a {
  display: flex;
  text-decoration: none;
  color: rgb(17, 16, 16);
  font-size: 14px;
  width: 100%;
}
.header-apps-download a p {
  margin-top: 5px;
  padding-left: 5px;
}
.ios {
  margin-right: 17px;
}
.android a{
  height:35px;
  width:100%;
}
/* =========================================The Right side of of the flex========================================= */
.header-second-flex {
  text-align: center;
  width: 50%;
  z-index: 0;
}
.the-rectangle {
  height: 97%;
  max-width: 60%;
  margin-left: 61px;
}
.the-lady {
  width: 27%;
  height: 60%;
  position: absolute;
  top: 18.5%;
  right: 16.8%;
}
.the-rent {
  position: absolute;
  width: 15.5%;
  height: 14%;
  bottom: 51.5%;
  right: 35.3%;
}
.the-investify {
  position: absolute;
  width: 15.5%;
  height: 14%;
  bottom: 22.8%;
  right: 9%;
}
.cross-headerIcon {
  position: absolute;
  top: 14%;
  right: 40.9%;
}
.circle-headerIcon {
  position: absolute;
  bottom: 61%;
  right: 15.4%;
}
.dot-headerIcon {
  position: absolute;
  bottom: 29%;
  right: 42.5%;
}

/* ======================================================1440PX============================================================ */
@media screen and (min-width: 1400px) and (max-width: 1440px) {
  .header-flex-house {
    top: 5%;
  }
}
/* =======================================================375PX============================================================ */
@media screen and (max-width: 375px) {
  .special-bg {
    display: none;
  }
  /* =================================================HEADER=============================================================== */
  .header-flex-house {
    display: flex;
    flex-direction: column;
    position: none;
    top: 0%;
    padding: 1px 2rem;
    padding-top: 30px;
    width: 100%;
    height: 800px;
    margin: 0px;
  }
  /* ==========================================The Left side of the flex========================== */
  .header-first-flex {
    margin-top: 10px;
    text-align: center;
  }
  .header-texts h1 {
    font-size: 2.8em;
    line-height: 60px;
    text-align: center;
  }
  .header-texts h1 br {
    display: none;
  }
  .the-texts p {
    font-size: 1em;
    text-align: center;
    line-height: 27.2px;
  }
  .header-first-flex .header-Create-account {
    font-size: 1rem;
    font-weight: 600;
    padding: 17px;
    border: none;
    margin-top: 1.8rem;
  }
  /* ==========================================Download buttons=========================================== */
  .header-apps-download {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    align-items: center;
  }
  .ios {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  /* ==============================================The Right side of of the flex====================================  */

  .the-lady {
    width: 27%;
    height: 64%;
    position: none;
    top: 100%;
    right: 16.8%;
  }
  /* =========================================The Right side of of the flex========================================= */
  .header-second-flex {
    text-align: center;
    width: 100%;
    margin-top: 90px;
  }
  .the-rectangle {
    height: 120%;
    max-width: 90%;
    margin-left: 0px;
    margin-left: 40px;
  }
  .the-lady {
    width: 75%;
    height: 58%;
    top: 83%;
    right: 16%;
  }
  .the-rent {
    position: absolute;
    width: 60%;
    height: 14%;
    bottom: -12%;
    right: 42%;
  }
  .the-investify {
    position: absolute;
    width: 55%;
    height: 14%;
    bottom: -40.3%;
    right: 12%;
  }
  .cross-headerIcon {
    position: absolute;
    top: 78.5%;
    right: 77.5%;
  }
  .circle-headerIcon {
    bottom: -2%;
    right: 11%;
  }
  .dot-headerIcon {
    bottom: -35%;
    right: 85.5%;
  }
}


.security {
  padding-right: 50%;
  display: flex;
  justify-content: space-between;
  top: 10%;
  padding: 100px 6rem;
  padding-top: 100px;
  width: 85%;
  height: 300px;
  margin-top:60px;
}

.security img{
  height: 110px;
  width: 10%;
  margin-left:150px;
  margin-top:13px;
}
.text h1{
  margin-bottom:16px;
}
.text p{
  margin-bottom:20px;
}
.text a{
  color:blue;
  position:relative;
}
.text i{
  font-size:11px;
  margin-left:5px;
}
.text a::after{
  position:absolute;
    content:"";
    background-color: rgb(210, 244, 244);
    width:0%;
    height:7px;
    left:0;
    top:16px;
}
.text a:hover::after{
  width:100%;
  transition:all 0.8s ease-in-out;
}

.container .section_3{
  width: 100%;
  display: flex;
  justify-content: Center;
  align-items: flex-start;
}

.container .section_3 .box:nth-child(1){
  width: 30%;
  padding: 10px;
  padding-top: 70px;
}

.container .section_3 .box:nth-child(2){
  width: 58%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container .section_3 .box h1{
  font-size: 40px;
  margin: 3px;
  font-weight:600;
  line-height:55px;
}

.container .section_3 .box p{
  font-size: 18px;
  margin: 10px 3px;
  padding: 10px 0px;
  line-height: 30px;
}
.child i{
  border:none;
  border-radius: 25px;
  padding:8px;
  background-color: rgb(211, 231, 211);
  color:rgb(32, 32, 250);
  margin-right:8px;
}

.container .section_3 .box a{
  width: 45%;
  display: block;
  background-color: #0c1825;
  color: #fff;
  height: 50px;
  padding: 5px;
  margin-top: 25px;
  text-align: center;
  padding-top: 15px;
  border-radius: 10px;
  font-weight: bolder;
  text-decoration: none;
}
.container .section_3 .box a:hover{
  background-color: blue;
  transition:all 0.8s ease-in-out;
}


.container .section_3 .box .child{
  width: 47%;
  height:340px;
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(249, 249, 249);
}

.container .section_3 .box .child .icon{
  width: 50px
}

.container .section_3 .box .child .icon img{
  width: 100%;
}

.container .section_3 .box .child h2{
  width: 100%;
  font-size: 20px;
  padding:0 5px;
  margin-top:30px;
}
.container .section_3 .box .child p span{
  margin-top: 15px;
  cursor: pointer;
}
.except-child  h4{
  font-size:1.05em;
  font-weight:100;
  margin-top:51px;
  cursor: pointer;
}
.container .section_4{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 70px 0px;
}

.container .section_4 .box{
  width: 50%;
  padding: 10px;
}

.container .section_4 .box:nth-child(1){
  width: 50%;
}

.container .section_4 .box:nth-child(2){
  padding: 60px 25px;
}

.container .section_4 .box img{
  width: 60%;
  padding-left: 40%;
}
.container .section_4 .box h1{
  font-size:18px;
  background-color: rgb(235, 239, 235);
  width: 33%;
  text-align: center;
  padding: 10px;
  border-radius:20px;
  color:#7913e5;
  margin-top:25px;
}
.container .section_4 .box h2{
  margin-top:50px;
  font-size:50px;
}

.container .section_4 .box p{
  font-size: 16px;
  margin-top:25px;
  width:70%;
  line-height: 30px;
  color: #0c1825;
  margin-bottom:30px;
}

.container .section_4 .box a{
  font-weight: bolder;
  text-decoration: none;
  margin-top:20px;
  color:#7913e5;
}
.container .section_4 .box a i{
  font-size:10px;
  margin-left:4px;
}
.label {
  color: #9b52de;
}

#inv {
  width: 80%;
  height: 20%;
}
.arrow{
  width:20px;
  background-color: transparent;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&family=Space+Grotesk:wght@500&family=Zilla+Slab&display=swap');
/* *{
    margin: 0%;
    padding: 0%;
} */

*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
/* font family was chosen according as a result close resemblance to the font used */
body{
    font-family: 'DM Sans', 'Zilla Slab', sans-serif;
    color: #353535;
    letter-spacing: 0.1px;
    font-size: 16px;
}
/* the container-bag contains all the other divs; named so as to prevent conflict with other codes */
.container-bag{
    display: flex;
    justify-content: center;   
}

.right{
    margin: 5em;
    font-size: 1.5em;
}

.right h2{
    margin-bottom: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button{
  background-color: rgb(53, 53, 53);
  border-radius:10px;
  width:200px;
  color:#fff;
  font-size:1rem;
  font-weight:600;
  padding:17px;
  border:none;
  margin-top:1.5em;
}

.button a{
  text-decoration:none;
  font-size:1rem;
  font-weight:600;
  color:white;
  width:100%;
}
.button:hover{
  background-color: rgb(16, 16, 251);
  transition:all 0.8s ease-in-out;
}

img.image{
    width: 400px; 
    height: 600px;
    margin: 2em;
}

.icons{
    display: flex;
    font-size: 1em;
}

.icons .me .h3{
    background-color: #353535;
    padding: 0.5em;
}

.icons .me{
    border-style: solid;
    border-width: 0.1em;
    border-color: antiquewhite;
}
.icons div{
    background-color: whitesmoke;
    border-radius: 0.5em;
    margin: 0.8em;
    
}

.icons div.me{
    margin: 1.5em;
}

.icons .me a{
    text-decoration: none;
}


/* ==========================================Download buttons=========================================== */
.header-apps-download {
  display: flex;
  margin-top: 35px;
}
.header-apps-download button {
  width: 150px;
  border-radius: 12px;
  padding: 10px;
  border: none;
  border: 1px solid rgb(210, 208, 208);
  background-color: #fff;
  transform: translateY(10px);
}
.header-apps-download button:hover {
  transform: translateY(0px);
  transition: transform 0.5s ease-in-out;
}
.header-apps-download a {
  display: flex;
  text-decoration: none;
  color: rgb(17, 16, 16);
  font-size: 14px;
  width: 100%;
}
.header-apps-download a p {
  margin-top: 5px;
  padding-left: 5px;
}
.ios {
  margin-right: 17px;
}


a {
  color: #353535;
  text-decoration: none;
}

h3 {
  text-align: center;
  
}

/* footer styles */

.footer-heading {
  margin-bottom: 1em;
  font-family: 'Krona One', sans-serif;
}

.footer-brands {
  display: flex;
  flex-direction: column;
  padding: 4em 1em;
  background-color: #f8f8f8;
}

.footer-brand {
  width: 100%;
  margin: 2em auto 2em auto;
} 

.footer-company-brand {
  max-width: 150px;
  margin: 0 auto;
}

.footer-brand-img {
  width: 100%;
}

.footer-img-1 {
  max-width: 80%;
}

.footer-img-3 {
  margin-left: -0.4em;
}

.logo-footer { 
  max-width: 70%;
  margin: 1em 0.5em 0em 0.8em;
}

.footer-logo-img {
  width: 100%;
}

.footer-headings {
  font-weight: 700;
  font-size: 14px;
  margin: 0em 0em 2em 0em;
  
}

.footer-link a {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-bottom: 1.2em;
}

.footer-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   gap: 4.7em;  
  justify-content: space-around;
  padding: 0em 1.5em;
}

.footer-link {
  flex: 20%;
  font-size: 14px;
  font-weight: 500;
  width: 30%;
}

.footer-contact {
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
}

.address {
  width: 150px;
}

.last {
  max-height: 24vh;
  margin-top: -3em;
} 

.two {
  margin-bottom: 30px;
}
.footer-social a{
  margin-top: 20px;
}

.footer-social {
  margin-left: 0em;
}

.fa-square-twitter,
.fa-square-instagram {
  margin-left: 0.3em;
}

.footer-info {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 4em auto;
  line-height: 20px;
}

.l-link p{
  color: rgb(14, 14, 122);
  height: 10vh;
  margin: 0 auto 2em auto;
  text-align-last: center;
  white-space: wrap;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}

.footer-info-container {
  max-width: 100%;
  margin: -3em auto;
}

.footer-icons-social {
  margin-top: 2.5em;
  margin-bottom: 1em;
}




@media (min-width: 240px) {
  .footer-brand {
      max-width: 70%;
  }

  .footer-info {
      min-width: 160px;
  }

  .logo-footer {
      max-width: 60%;
  }
  

  

}
@media (min-width: 340px) {
  .footer-info {
      min-width: 276px;
  }

  .l-link p {
      min-width: 200px;
  }

  .logo-footer {
      max-width: 200px;
  }

  .footer-social {

      width: 100%
  }
}

@media (min-width: 444px) {
  .footer-brand {
     width: 180px;
     margin: 1.5em auto 1em auto;
  }

  .footer-company-brand {
      max-width: 400px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 2em;
  }

  .footer-logo-footer {
      max-width: 250px;
  }
}

@media (min-width: 580px) {
  .footer-container {
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
       gap: 8em;  
      justify-content: space-around;
      padding: 0em 1.5em;
  }
}

@media (min-width: 650px) {
  .footer-brand {
      min-width: 120px;
  }

  .footer-company-brand {
      max-width: 550px;
      flex-wrap: nowrap;
      gap: 2em;
  }

  .footer-social {
      margin-top: 6em;
  }

}

@media (min-width: 728px) {
  .last {
      margin-top: 0em;
  }

  .footer-social {
      margin-top: -8em;
  }

  .footer-info-container {
      margin-top: -7em;
  }
}

@media (min-width: 1000px) {
  .footer-brands-container {
      display: flex;
  }

  .footer-brands {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2em;
  }

  .footer-heading {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: -1em;
      margin-right: 5em;
      font-size: 26px;
      white-space: nowrap;
  }

  .footer-larger-container {
      display: flex;
      flex-direction: row;
  }

  .footer-link {
      max-width: 100px;
      margin-top: 6em;
  }

  .footer-container {
      padding: 0em;
      flex-wrap: wrap;
      display: flex;
      gap: 2em;
      width: 70%;
  } 

  .last {
      margin-top: 6em;
  }

  .footer-social {
      margin-top: 2.8em;
      width: auto;
  }


  .footer-info-container {
      margin-left: -1em;
      margin-top: -1em;

  }

  .footer-info {
      width: 820px;
  }

  .footer-contact {
      text-align: right;
  }

  .address {
      width: 230px;
      margin-left: 3.5em;
      text-align: right;
  }

  .tel {
      margin-left: 9em;
  }

  .footer-icons-social {
      margin-left: 10em;
      width: 117px;
  }

  .footer-logo-img {
      margin-top: 1.9em;
  }
}
h1{
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
}
p{
  line-height: 2;
  font-size: 15px;
}

.material-symbols-outlined{
  color:darkblue;
  font-size:0.8em;
  border:1px solid white;
  background-color: rgb(220, 208, 238);
  border-radius: 20px;
  padding: 8px;
  position: absolute;
  left:75px;
  margin-top:-10px;
}
span .material-symbols-outlined{
  padding-left: 5px;
}
.wwhole{
  display: flex;
  flex-direction: row;
column-gap:300px;
}
.meet{
padding-left: 70px;
margin-top: 200px;
}
.saver img{
  height:500px;
  width:600px;
  margin-top: 80px;
 
}
.nname{
padding-left: 90px;
padding-bottom: 30px;
}
@media screen and (max-width: 600px) {

  *{
      margin: 0;
      padding:0;
      box-sizing: 0;
  }

  body{
      background-color: darkblue;
      color:white;
      font-family: dm,sans-serif;
      height: 100vh;
  }
  h1{
      font-size: 40px;
      font-weight: 900;
      line-height: 1;
  }
  p{
      line-height: 2;
      font-size: 15px;
  }
  
  .material-symbols-outlined{
      color:darkblue;
      border:1px solid white;
       background-color: white;
      border-radius: 70%;
      padding: 5px;
      position: absolute;
      left:50px
  }
  span .material-symbols-outlined{
      padding-left: 5px;
  }
  .wwhole{
      display: flex;
      flex-direction:column;
  justify-items: center;


  }
  .meet{

    justify-content: center;
    padding-bottom: 30px;
  }
  .saver img{
      height:500px;
      width:400px;
      justify-items: center;
    padding-left:60px ;
}
  .nname{
    padding-left: 90px;
    padding-bottom: 30px;
  }

}



.contaiiiner{
  display: flex;
  flex-direction: row;
  padding-left:10px;
  column-gap: 100px;
  position: fixed;
  background-color:grey;
  width:100%;
  height: 12%;
      
}
.contaiiiner a{
position: absolute;
top:40px;
font-size: 20px;
text-decoration: none;
color:black
}
.contaiiiner a:hover{
  position: absolute;
  top:40px;
  font-size: 20px;
  text-decoration: none;
  color: darkblue;
  }
.imgSa{
  height: 50px;
  width:250px;
  
  padding-top: 20px;
  padding-left:40px;

}
.sign{
  height:30px;
  width:90px;
  border-radius: 10px;
  color:black;
  border:1px solid black;
   padding: 10px;

}

.sign:hover{
  height:30px;
  width:90px;
  border-radius: 10px;
  color:darkblue;
  border:1px solid darkblue;
   padding: 10px;

}

.sign a{



  padding-left:10px;
  font-size:20px ;
  color:black ;
  position: absolute;
  top: 15px;
}
.sign a:hover{

  padding-left:10px;
  font-size:20px ;
  color:darkblue ;
  position: absolute;
  top: 15px;
}

.account22{
  height: 35px;
  width:200px;
  border-radius:10px ;
  background-color:black;
  padding-top: 12px;

}

.account22:hover{
  height: 35px;
  width:200px;
  border-radius:10px ;
  background-color:darkblue;
  padding-top: 15px;

}
.account22 a{
  padding-left:20px;
  font-size:20px ;
  color:white;
  position: absolute;
  top: 15px;
}
.account22 a:hover{

  padding-left:20px;
  font-size:20px ;
  color:white ;
  position: absolute;
  top: 15px;
}
.loog{
  display: flex;
  column-gap: 15px;
position: absolute;
top:20px;
left:1000px;
}
.loog a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .contaiiiner{
      display: flex;
      flex-direction: row;
      padding-left:350px;
    
      column-gap: 70px;
          
  }
  .contaiiiner a{
      font-size: 20px;
  text-decoration: none;
  color:darkblue;
  padding-top: 2px;




  }
  .imgSa{
      height: 50px;
      width:250px;
      padding-top: 20px;
      padding-left:10px;
    justify-content: center;
  }
  .sign{
      height:30px;
      width:90px;
      border-radius: 10px;
      color:darkblue;
      border:1px solid darkblue;
       padding: 10px;
   
  }
  
  .sign a{
  
      padding-left:20px;
      font-size:20px ;
      color:darkblue ;
      padding-top: 80px;

  }
  
  .account22{
      height: 35px;
      width:200px;
      border-radius:10px ;
      background-color:darkblue;
      padding-top: 12px;
   
  }
  .account22 a{
      font-size: 20px;
      color: white;
      padding-left:20px;
  } 
  .loog{
      display: flex;
      column-gap: 15px;
   position: absolute;
   top:20px;
   left:800px;
  }
  .loog a{
      text-decoration: none;
  }    
}


.alll {
  background-color: #0c1825;
}